<!DOCTYPE html>
<html>
    <head>
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta http-equiv="content-type" content="text/html; charset=utf-8">
          <title>{% block title %}{{ section.title }} | {{ config.extra.site_name }} {% endblock title %}</title>

          <!-- KaTeX -->
          <!-- Taken from https://katex.org/docs/browser.html -->
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
          <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>
          <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>

        <!-- Fonts are defined here instead of in sass, because they need the URL to be filled in dynamically-->
        <style>
            @font-face {
                font-family: "LibreBaskerville";
                src: url({{get_url(path="fonts/LibreBaskerville-Regular.woff") | safe}}) format("woff");
            }
            @font-face {
                font-family: "LibreBaskerville";
                src: url({{get_url(path="fonts/LibreBaskerville-Bold.woff") | safe}}) format("woff");
                font-weight: bold;
            }
            @font-face {
                font-family: "LibreBaskerville";
                src: url({{get_url(path="fonts/LibreBaskerville-Italic.woff") | safe}}) format("woff");
                font-style: italic;
            }
            @font-face {
                font-family: "PlayfairDisplay";
                src: url({{get_url(path="fonts/PlayfairDisplay-Regular.woff") | safe}}) format("woff");
            }
            @font-face {
                font-family: "PlayfairDisplay";
                src: url({{get_url(path="fonts/PlayfairDisplay-Bold.woff") | safe}}) format("woff");
                font-weight: bold;
            }
            @font-face {
                font-family: "PlayfairDisplay";
                src: url({{get_url(path="fonts/PlayfairDisplay-Italic.woff") | safe}}) format("woff");
                font-style: italic;
            }
        </style>
          <link rel="stylesheet" href={{get_url(path="/style.css")}}>
    </head>
    <body>
        <header>
            {% block header %}
            <h1> <a id="header" href="{{ config.base_url }}"> {{ config.extra.site_name }} </a> </h1>
            <nav> <a id="header" href="{{ config.base_url }}">Home</a> &#8728; <a id="header" href={{get_url(path="/sources")}}>Sources</a> &#8728; <a id="header" href={{get_url(path="/commentary")}}>Commentary</a> &#8728; <a id="header" href={{get_url(path="/contact")}}>Contact</a> </nav>
            <hr>
            {% endblock header %}
        </header>
        <div class="container">
            <main>
                <article>
                {% block content %}
                    <div class="info">
                        {% if section.date %}
                            <span class='divider'/>
                            <span>{{ section.date | date(format="%d %B %Y") }}</span>
                        {% endif %}
                    </div>
                    {{ section.content | safe }} 
                {% endblock content %}
                </article>
            </main>
        </div>
        <footer>
            {% block footer %}
            <div> With <a href="https://en.wikipedia.org/wiki/Mathematics"><img class="inline-qt" src={{get_url(path="/images/heart.png")}} alt="Love" align="middle"></a> from <a href="https://en.wikipedia.org/wiki/Maastricht"><img class="inline-qt" src={{get_url(path="/images/maas-flag.svg")}} alt="Maastricht" align="middle" style="right:-2px; top: -2px;"></a> </div>
            {% endblock footer %}
        </footer>
    </body>
</html>
